language: node_js
node_js:
  - lts/*
install:
  - npm ci
before_install:
- export TZ='Asia/Shanghai'  # 设置时区
script:
  - npm run docs:build
deploy:
  provider: pages
  skip-cleanup: true
  local_dir: docs/.vuepress/dist
  github-token: $GITHUB_TOKEN # a token generated on github allowing travis to push code on you repository
  keep-history: true
  target-branch: gh-pages
  on:
    branch: master